.about {
  padding: 120px 13.1% 120px 13.1%;
  background-color: #ebebeb; }
  .about__inner {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    .about__inner-left {
      background-image: url(../imgs/about-bg.png);
      width: 380px;
      height: 555px;
      padding-top: 75px;
      margin-right: 15px; }
      .about__inner-left img {
        display: block;
        width: 52px;
        margin: 0 auto; }
      .about__inner-left h3 {
        max-width: 185px;
        margin: 40px auto 0 auto;
        text-align: center;
        color: #fefbfc;
        font-family: "Proxima Nova";
        font-size: 36px;
        font-weight: 600; }
    .about__inner-right {
      width: 670px;
      padding-top: 75px;
      color: #665f60;
      font-family: "PT Sans";
      font-size: 20px;
      font-weight: 400;
      word-wrap: break-word;
      line-height: 1; }
      .about__inner-right p:first-child {
        margin-bottom: 30px; }
      .about__inner-right span {
        font-style: italic; }
      @media all and (max-width: 790px) {
        .about__inner-right {
          padding-top: 0;
          font-size: 18px; } }
    .about__inner-learn-btn {
      display: block;
      color: #7d7a7c;
      font-family: "PT Sans";
      font-size: 20px;
      font-weight: 400;
      font-style: italic;
      text-align: center;
      width: 195px;
      height: 50px;
      padding-top: 12px;
      margin: 90px auto 0 auto;
      border: 1px solid #7d7a7c; }
      .about__inner-learn-btn:hover {
        text-decoration: none;
        color: #4abc65;
        border: 1px solid #4abc65;
        background-color: #dadada;
        transition: all 0.7s; }
      @media all and (max-width: 790px) {
        .about__inner-learn-btn {
          margin-top: 30px; } }
