@mixin font-style ($color, $font-family, $font-size, $font-weight) {
  color: $color;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
}
.contact {
  width: 100%;
  min-height: 900px;
  position: relative;
  overflow: hidden;
  &__map {
    width: 100%;
    min-height: 900px;
    opacity: 0.3;
    position: relative;
    z-index: 1;
  }
  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(159,154,207,1);
  }
  &__title {
    position: absolute;
    z-index: 2;
    background-color: transparent;
    width: 250px;
    height: 110px;
    top: 0;
    left: 0;
    margin: auto;
    bottom: 655px;
    right: 0;
    img {
      display: block;
      width: 44px;
      margin: 0 auto;
    }
    h2 {
      text-align: center;
      @include font-style (#fff, "Proxima Nova", 36px, 600);
    }
  }
  &__form {
    max-width: 860px;
    height: 410px;
    position: absolute;
    z-index: 2;
    top: 370px;
    left: 0;
    margin: auto;
    bottom: 0;
    right: 0;
    &-info {
      display: flex;
      justify-content: space-between;
      width: 100%;
      input {
        @include font-style (#000, "Proxima Nova", 18px, 300);
        font-style: italic;
        opacity: 0.6;
        width: 48%;
        height: 45px;
        border: none;
        padding-left: 25px;
        border-radius: 4px;
        outline: none;
        &:focus {
          opacity: 1;
          transition: all 0.2s;
        }
      }
    }
    textarea {
      margin-top: 25px;
      @include font-style (#000, "Proxima Nova", 18px, 300);
      font-style: italic;
      opacity: 0.6;
      width: 100%;
      height: 200px;
      padding-top: 15px;
      border: none;
      padding-left: 25px;
      border-radius: 4px;
      outline: none;
      &:focus {
        opacity: 1;
        transition: all 0.2s;
      }
    }
    &-btn {
      display: block;
      width: 300px;
      height: 75px;
      background-color: #9f9acf;
      border-bottom: 4px solid #8783b0;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
      border-top: 4px solid transparent;
      margin: 50px auto 0 auto;
      border-radius: 4px;
      @include font-style (#fff, "Proxima Nova", 20px, 700);
      &:hover {
        transform: scale(1.03);
        border: 4px solid #8783b0;
        transition: all 0.3s;
      }
    }
  }
  &__address {
    position: absolute;
    right: -260px;
    top: 210px;
    z-index: 2;
    width: 350px;
    height: 95px;
    background-color: #fff;
    &-icon {
      width: 90px;
      display: inline-block;
      height: 100%;
      background-color: #9f9acf;
      vertical-align: top;
      padding-top: 25px;
      padding-left: 25px;
    }
    &-info{
      width: 255px;
      display: inline-block;
      height: 100%;
      text-align: center;
      padding-top: 12px;
      p {
        @include font-style (#000, "Proxima Nova", 18px, 400);
      }
    }
    &:hover {
      right: 0;
      transition: all 0.7s ease-in-out;
    }
    @media all and (max-width: 550px) {
      right: 0;
      width: 100%;
    }
  }
  &__tel {
    @extend .contact__address;
    top: 305px;
    &-icon{
      @extend .contact__address-icon;
      padding-left: 35px;
      padding-top: 30px;
    }
    &-info {
      @extend .contact__address-info;
      padding-top: 35px;
    }
  }
  &__top {
    position: absolute;
    right: 10%;
    bottom: 65px;
    z-index: 2;
    width: 85px;
    height: 85px;
    background-color: rgba(159,154,207,0.5);
    padding-top: 30px;
    padding-left: 25px;
    &:hover {
      bottom: 65px;
      transition: all 0.7s;
    }
    @media all and (max-width: 750px) {
      right: 0;
    }
    @media all and (max-width: 550px) {
      display: none;
    }
  }
}