@mixin font-style ($color, $font-family, $font-size, $font-weight) {
  color: $color;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
}
.services {
  min-height: 800px;
  padding: 0 13.1% 0 13.1%;
  background-color: #ebebeb;
  &__inner {
    max-width: 1170px;
    &-column {
      height: 800px;
      padding: 0;
      &:nth-child(3) {
        padding: 115px 10px 0 10px;
        background-image: url(../imgs/services-bg.png);
        img {
          display: block;
          margin: 0 auto;
        }
        h3 {
          max-width: 270px;
          margin: 35px auto 100px auto;
          text-align: center;
          @include font-style (#fefbfc, "Proxima Nova", 36px, 600);
        }
        p {
          @include font-style (#fefcfd, "PT Sans", 17px, 300);
          text-align: center;
          font-style: italic;
          max-width: 330px;
          margin: 0 auto;
          line-height: 1;
        }
        @media all and (max-width: 767px) {
          padding: 20px 10px 0 10px;
        }
      }
      &-item {
        height: 400px;
        padding-top: 94px;
        img {
          display: block;
          margin: 0 auto;
        }
        h3 {
          @include font-style (#665f60, "PT Sans", 24px, 700);
          text-align: center;
          margin: 30px 0 15px 0;
        }
        p {
          @include font-style (#665f60, "PT Sans", 17px, 300);
          text-align: center;
          font-style: italic;
          max-width: 200px;
          margin: 0 auto;
          line-height: 1;
        }
        &-dark {
          background-color: #dbdbdb;
        }
        @media all and (max-width: 767px) {
          height: 200px;
          padding-top: 20px;
        }
      }
      @media all and (max-width: 767px) {
        height: 400px;
      }

    }
  }
}