@mixin font-style ($color, $font-family, $font-size, $font-weight) {
  color: $color;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
}

@import 'proxima-nova.scss';
@import 'header.scss';
@import 'about.scss';
@import 'services.scss';
@import 'works.scss';
@import 'team.scss';
@import 'contact.scss';
@import 'footer.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}












