.team {
  min-height: 820px;
  background-color: #ebebeb;
  padding-top: 55px; }
  .team img {
    display: block;
    margin: 0 auto 35px auto; }
  .team h2 {
    width: 290px;
    margin: 0 auto 70px auto;
    text-align: center;
    color: #665f60;
    font-family: "Proxima Nova";
    font-size: 36px;
    font-weight: 600; }
  .team__slider {
    max-width: 1110px;
    height: 485px;
    margin: 0 auto;
    /* Slick Slider styles */ }
    .team__slider-item {
      width: 350px;
      display: inline-block;
      height: 355px;
      background-color: #fff;
      position: relative;
      margin-right: 12px;
      margin-left: 12px; }
      .team__slider-item:hover {
        cursor: pointer; }
      .team__slider-item-photo {
        background-color: #ebebeb;
        position: relative;
        width: 260px;
        margin: 0 auto;
        top: -125px;
        height: 260px;
        border-radius: 50%;
        padding-top: 11px; }
      .team__slider-item h4 {
        width: 200px;
        text-align: center;
        margin: -95px auto 17px auto;
        text-transform: uppercase;
        color: #9f9acf;
        font-family: "Proxima Nova";
        font-size: 24px;
        font-weight: 700; }
      .team__slider-item p {
        width: 200px;
        text-align: center;
        margin: 0 auto;
        color: #665f60;
        font-family: "PT Sans";
        font-size: 24px;
        font-weight: 300;
        font-style: italic; }
      .team__slider-item-contact {
        width: 100%;
        height: 70px;
        background-color: #9f9acf;
        bottom: 0;
        position: absolute;
        text-align: center;
        padding-top: 20px; }
        .team__slider-item-contact a {
          display: inline-block;
          margin-left: 8px;
          margin-right: 8px;
          width: 32px;
          height: 32px;
          border-radius: 50%; }
          .team__slider-item-contact a:hover {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
            transform: scale(1.07);
            transition: all 0.2s; }
    .team__slider .slick-list {
      height: 485px; }
    .team__slider .slick-track {
      margin-top: 120px; }
    .team__slider .slick-prev {
      left: -60px; }
      @media all and (max-width: 1255px) {
        .team__slider .slick-prev {
          left: 10px;
          z-index: 2; } }
    .team__slider .slick-prev::before {
      content: url(../imgs/arrow-left-dark.svg); }
    .team__slider .slick-next {
      right: -60px; }
      @media all and (max-width: 1255px) {
        .team__slider .slick-next {
          right: 15px; } }
    .team__slider .slick-next::before {
      content: url(../imgs/arrow-right-dark.svg); }
